// Tipografía
$font-default: "Lato", sans-serif;

// Tamaños de letra
$size-default: 1.6rem;

// Colores
$color-primario: #e67e22;
$color-secundario: #27ae60;
$color-gris-oscuro: #828282;
$color-gris-oscuro-1: #333;
$color-blanco: #fff;
$color-blanco-claro: #f4f4f4;
$color-negro: #000;
