.nav {
  position: relative;
  display: block;
  padding-top: 1rem;
  @include clearfix;

  &__logo-box {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $color-blanco;
    line-height: 1;
    float: left;

    p {
      font-size: 2.5rem;
      font-weight: 700;
    }

    span {
      font-weight: 300;
    }
  }

  &__logo {
    height: 10rem;
    width: auto;
    margin-right: 1rem;

    &--blanco {
      display: block;
    }

    &--negro {
      display: none;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 3.7rem;

    @include responsive(tab-hor) {
      display: none;
      width: 100%;
      margin-top: 0;
      margin-bottom: 2rem;

      &--active {
        display: block;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 3.5rem;

    @include responsive(tab-hor) {
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__link:link,
  &__link:visited {
    color: $color-blanco;
    text-decoration: none;
    padding: 0.4rem 0;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;

    @include responsive(tab-hor) {
      font-size: 2rem;
    }
  }

  &__link--naranja:hover,
  &__link--naranja:active {
    border-bottom: 2px solid $color-primario;
  }

  &__link--verde:hover,
  &__link--verde:active {
    border-bottom: 2px solid $color-secundario;
  }

  &__menu-toggle {
    display: none;
    cursor: pointer;
    float: right;
    margin-top: 3.4rem;

    @include responsive(tab-hor) {
      display: block;
      position: relative;
    }
  }

  &__menu-bar {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-blanco;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }

    &--active {
      background-color: transparent;
      transition: all 0.2s;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &--sticky {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color-blanco, 0.9);
    z-index: 1000;
    border-bottom: 1px solid rgba($color-negro, 0.2);
  }

  &--sticky &__logo--blanco {
    display: none;
  }

  &--sticky &__logo--negro {
    display: block;
  }

  &--sticky &__logo-box {
    color: $color-negro;
  }

  &--sticky &__menu-bar,
  &--sticky &__menu-bar::before,
  &--sticky &__menu-bar::after {
    background-color: $color-negro;
  }
  &--sticky &__menu-bar--active {
    background-color: transparent;
  }

  &--sticky &__link {
    color: $color-negro;
  }
}
